@import '../../utils'

.inherit-text-styles
  font-family: inherit
  font-size: inherit
  font-weight: inherit
  line-height: inherit
  letter-spacing: inherit
  text-indent: inherit
  text-align: inherit
  color: inherit

// ---
// -- Commmon
// -
.ToggleField
.SelectField
.NumField
.CountField
.TextField
.InfoField
  position: relative
  display: flex
  min-height: 42px
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  padding: 0 16px
  flex-shrink: 0
  cursor: pointer
  -moz-user-select: none
  &:not(:first-of-type)
    margin-top: 3px

  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: 4px
    background-color: var(--toolbar-fg)
    opacity: 0

  &:not(:first-of-type):after
    content: ''
    position: absolute
    top: -2px
    left: 6px
    width: calc(100% - 12px)
    height: 1px
    background-color: var(--toolbar-fg)
    opacity: .08

  &.-no-separator:after
    display: none

  &:hover:before
    opacity: .06

  &:active:before
    opacity: .03

  &[data-inactive="true"]
    cursor: default

  &[data-inactive="true"] .body
    opacity: .3
  &[data-inactive="true"] .note
    opacity: .2

  &.-sub-title
    min-height: 48px
    margin-top: 16px
    &:after
      display: none

.InfoField
  cursor: default
  &:before
    content: none

.SelectField[data-opened="true"]
  z-index: 10
  outline: none
.SelectField[data-opened="true"]:before
  opacity: .03

.ToggleField .body
.SelectField .body
.NumField .body
.CountField .body
.TextField .body
  position: relative
  display: flex
  width: 100%
  justify-content: space-between
  align-items: flex-start
  flex-wrap: nowrap

// ---
// -- Label
// -
.ToggleField .label
.SelectField .label
.TextField .label
.CountField .label
.InfoField .label
  position: relative
  font-size: rem(16)
  line-height: 26px
  padding: 8px 0
  align-self: flex-start
  color: var(--toolbar-fg)
  transition: color var(--d-fast)
.-sub-title .label
  font-size: rem(20)

// ---
// -- Note
// -
.ToggleField .note
.SelectField .note
.NumField .note
.TextField .note
  position: relative
  font-size: rem(13)
  width: 100%
  margin-top: -5px
  padding: 0 0 12px 0px
  white-space: pre-wrap
  color: var(--toolbar-fg)
  -moz-user-select: text
  opacity: .7

// ---
// -- Input
// -
.ToggleInput
.SelectInput
  position: relative
  display: flex
  max-width: calc(55% - 16px)
  justify-content: flex-end
  padding: 8px 0 8px 16px
  flex-wrap: wrap
  grid-gap: 0 1px
  cursor: pointer
  transform: translateZ(0)

.ToggleInput
  flex-wrap: nowrap

// ---
// -- Options
// -
.ToggleInput .opt
.SelectInput .opt
  position: relative
  font-size: rem(14)
  font-weight: 600
  color: var(--toolbar-fg)
  transition: color var(--d-fast)
  flex-shrink: 0
  line-height: 26px
  opacity: .7
  white-space: nowrap
  &:before
    content: ''
    position: absolute
    top: 1px
    left: 0
    width: 100%
    height: calc(100% - 2px)
    border-radius: 4px
    background-color: var(--color, var(--toolbar-fg))
    opacity: 0
  > p
    position: relative
    display: block
    padding: 0 8px
    margin: 0
  > svg
    position: relative
    display: block
    width: 16px
    height: 16px
    padding: 7px 8px
    fill: var(--color, var(--toolbar-fg))
    transition: opacity var(--d-fast)
  &:hover
    opacity: 1
  &:hover:before
    opacity: .1

.SelectInput[data-opened="true"]
  z-index: 10
.SelectInput[data-opened="true"] .list
  display: flex

.SelectInput[data-folded="true"]
  flex-wrap: nowrap

.SelectInput[data-folded="true"] .opt
  flex-shrink: 1
  padding: 3px 0
  line-height: 20px

.SelectInput[data-folded="true"] .opt[data-active="true"]:before
.SelectInput[data-folded="true"] .opt[data-active="true"]:after
  border-top-right-radius: 0
  border-bottom-right-radius: 0
.SelectInput[data-folded="true"] .opt[data-active="true"][data-none="true"]:before
  opacity: 0

.SelectInput .opt.-exp
  display: flex
  align-items: center
  > svg
    padding: 2px 5px
  &:before
    background-color: var(--toolbar-fg)
    opacity: .1
    border-radius: 4px
    border-top-left-radius: 0
    border-bottom-left-radius: 0

.SelectInput .list
  position: absolute
  display: none
  flex-direction: column
  grid-gap: 2px 0
  padding: 2px 3px
  top: calc(100% - 7px)
  right: -1px
  min-width: max-content
  max-width: 300px
  min-height: 32px
  z-index: 1
  background-color: var(--frame-bg)
  border-radius: 4px
  box-shadow: inset 0 0 0 1px #ffffff32,
              0 1px 3px 0 #00000032

#root[data-color-scheme="light"] .SelectInput .list
  box-shadow: inset 0 0 0 1px #00000036,
              0 1px 3px 0 #00000032

.SelectInput .list .opt
  line-height: normal
  padding: 4px 0

.SelectInput .opt[data-none="true"]:after
.ToggleInput .opt.-false:after
  content: ''
  position: absolute
  top: 1px
  left: 0
  width: 100%
  height: calc(100% - 2px)
  border-radius: 4px
  background-color: #ff2200
  opacity: 0

.ToggleInput .opt.-true:after
  content: ''
  position: absolute
  top: 1px
  left: 0
  width: 100%
  height: calc(100% - 2px)
  border-radius: 4px
  background-color: #00ff22
  opacity: 0

.SelectInput .opt[data-active="true"]
  color: var(--toolbar-fg-active)
  opacity: 1
.SelectInput .opt[data-active="true"]:before
.SelectInput .opt[data-active="true"]:after
  opacity: .2
  background-color: var(--toolbar-fg-active)

.ToggleInput[data-active="true"] .opt.-true
.ToggleInput[data-active="false"] .opt.-false
  opacity: 1
.ToggleInput[data-active="true"] .opt.-true:before
.ToggleInput[data-active="false"] .opt.-false:before
.ToggleInput[data-active="true"] .opt.-true:after
.ToggleInput[data-active="false"] .opt.-false:after
  opacity: .2

// ---
// -- Text input
// -
.TextInput
  position: relative
  display: flex
  margin: 11px 0
  line-height: 20px
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    transform: translateZ(0)
    border-radius: 3px
    background-color: var(--toolbar-fg)
    opacity: .05
  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: 3px
    box-shadow: inset 0 0 0 1px var(--toolbar-fg)
    opacity: .08
  &:hover:before
    opacity: .08
  &:hover:after
    opacity: .1
  &[data-active="true"]:before
    opacity: .1
  &[data-active="true"]:after
    opacity: .3
  &[data-valid="valid"][data-active="true"]:before
    box-shadow: inset 0 0 0 1px var(--status-ok)
  &[data-valid="invalid"]:before
    box-shadow: inset 0 0 0 1px var(--status-err)
  &[data-wrong="true"]
    animation: shake-animation .3s
    &:before
      animation: err-blink-animation 1s
  &[data-width="50"]
    width: 50%

// ---
// -- Input
// -
.TextInput input
.TextInput textarea
  @extend .inherit-text-styles
  position: relative
  display: block
  width: calc(100% - 8px)
  color: var(--toolbar-fg)
  -webkit-appearance: none
  border: none
  outline: none
  margin: 2px 0
  padding: 0 4px
  background-color: transparent
  resize: none
  z-index: 1

// ---
// -- Placeholder
// -
.TextInput .placeholder
  @extend .inherit-text-styles
  position: absolute
  top: 2px
  left: 4px
  max-width: 100%
  color: var(--toolbar-fg)
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  padding: 0
  margin: 0
  opacity: 0
  transform: translateX(16px)
  transition: opacity var(--d-fast), transform var(--d-fast)

.TextInput[data-empty="true"] .placeholder
  opacity: .5
  transform: translateX(0)

.TextInput[data-active="true"] .placeholder
  transform: translateX(3px)

// ---

// ---
// -- Number
// -
.NumField
  display: block
  padding: 0 16px
  &.-inline
    display: flex
  .label
    position: relative
    font-size: rem(16)
    line-height: 26px
    padding: 8px 0
    align-self: flex-start
    color: var(--toolbar-fg)
    transition: color var(--d-fast)
  .input-group
    position: relative
    display: flex
    align-items: center
    padding: 9px 0
    -moz-user-select: none
  .text-input
    position: relative
    width: 100%
    font-size: rem(16)
    margin: 0 16px 0 0
    transform: opacity var(--d-fast)
  &.-inline .text-input
    margin: 0
    text-align: right
  .unit-input
    position: relative
    flex: 1 0 auto
    padding: 0 0 0 16px
    -moz-user-select: none
  &:not([data-active="true"]) .text-input > input
    color: var(--toolbar-fg)
  &.-inline .unit-input
    display: none
  .toggle
    flex-shrink: 0

// ---
// -- Count field
// -
.CountField
  display: block
  .label
    position: relative
    display: flex
    font-size: rem(16)
    justify-content: space-between
    align-items: center
    color: var(--toolbar-fg)
    transition: color var(--d-fast)
    -moz-user-select: none
  .input-group
    position: relative
    display: flex
    align-items: center
    padding: 8px 0 8px 16px
    -moz-user-select: none
  .text-input
    position: relative
    width: 100%
    font-size: rem(16)
    margin: 0 16px 0 0
    transform: opacity var(--d-fast)
  &.-inline .text-input
    margin: 0
    text-align: right
  &:not([data-active="true"]) .text-input > input
    color: var(--toolbar-fg)
  .toggle-input
    position: relative
    flex: 1 0 auto
    padding: 0 0 0 16px
    -moz-user-select: none

// ---
// -- Color input
// -
.ColorInput
  position: relative
  display: flex
  justify-content: space-between
  align-items: center

// ---
// -- Color rgba value
// -
.ColorInput .text
  position: relative
  width: 1px
  color: var(--toolbar-fg)
  -webkit-appearance: none
  border: none
  outline: none
  margin: 0
  padding: 0
  background-color: transparent
  z-index: 1
  flex-grow: 2

// ---
// -- Style field
// -
.StyleField
  position: relative
  padding: 8px 16px 2px
  -moz-user-select: none
  &:not(:first-of-type)
    margin: 3px 0 0 0

  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: 4px
    background-color: var(--toolbar-fg)
    opacity: 0

  &:not(:first-of-type):after
    content: ''
    position: absolute
    top: -2px
    left: 6px
    width: calc(100% - 12px)
    height: 1px
    background-color: var(--toolbar-fg)
    opacity: .08

  &.-no-separator:after
    display: none

  &:hover:before
    opacity: .06

  &:active:before
    opacity: .03

.StyleField .color-wrapper
  position: relative
  width: 16px
  height: 16px
  flex-shrink: 0
  border-radius: 42%
  overflow: hidden
  margin: 0 8px 0 0
  padding: 0
  cursor: pointer
  transform: translateZ(0)
  box-shadow: 0 0 0 1px #cecece,
              0 0 0 2px #323232,
              0 1px 3px 0 #00000024

.StyleField .color
  position: relative
  top: -1px
  left: -1px
  width: calc(100% + 2px)
  height: calc(100% + 2px)
  -webkit-appearance: none
  border: none
  outline: none
  margin: 0
  padding: 0
  background-color: transparent
  z-index: 0
  cursor: pointer


// ---
// -- Label
// -
.StyleField .label
  position: relative
  display: flex
  font-size: rem(16)
  justify-content: space-between
  align-items: center
  color: var(--toolbar-fg)
  transition: color var(--d-fast)

.StyleField .var
  font-family: monospace
  font-size: rem(11)
  text-align: right
  margin-left: 12px
  color: var(--toolbar-fg)
  opacity: .7

// ---
// -- Container of inputs
// -
.StyleField .input-group
  position: relative
  display: flex
  align-items: center

// ---
// -- Text input
// -
.StyleField .text-input
  position: relative
  width: 100%
  font-size: rem(12) !important
  font-family: monospace
  margin: 0 16px 0 0
  transform: opacity var(--d-fast)
  > input
    color: var(--status-ok)

// ---
// -- Toggle input
// -
.StyleField .toggle
  flex-shrink: 0
